body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.content-section {
    background: url(../img/machine\ learning.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    color: #333;
    font-family: Arial, sans-serif;
}

.form-group {
    margin-bottom: 15px;
}

.btn-outline-info {
    background-color: #386641;
    border-color: #386641;
    color: #000000;
}

.btn-outline-info:hover {
    background-color: #a7c957;
    color: #fff;
}

.text-muted {
    color: #888;
}
.my-media {
  background: #ffffff;
}

.my-article-img {
  max-width: 75%;
  padding-bottom: 20px;

}

.my-media-body {
  /* Add your media-body styles here */
}

.my-article-metadata {
  /* Add your article-metadata styles here */
}

.my-author-link {
  /* Add your author-link styles here */
}

.my-post-date {
  /* Add your post-date styles here */
}

.my-action-buttons {
  /* Add your action-buttons styles here */
}

.my-update-button {
 background-color: #a7c957;
}

.my-article-title {
  color: #a7c957;
}

.my-article-content {
  color: #777777;
}