{% extends 'blog/base.html' %}
{% block content %}

<article class="media content-section my-media">
  <img class="rounded-circle article-img " src="{{ object.author.profile.image.url }}">
  <div class="media-body my-media-body">
    <div class="article-metadata my-article-metadata">
      <a class="mr-2 my-author-link" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
      <small class="text-muted my-post-date">{{ object.date_posted|date:'F d, Y' }}</small>
      {% if object.author == user %}
      <div class="action-buttons my-action-buttons">
        <a class="btn btn-secondary btn-sm mt-1 mb-1 my-update-button" href="{% url 'post-update' object.id %}">Update</a>
        <a class="btn btn-danger btn-sm mt-1 mb-1 my-delete-button" href="{% url 'post-delete' object.id %}">Delete</a>
      </div>
      {% endif %}
    </div>
    <img class = "my-article-img" src="{{post.cover.url}}" alt="">
    <ul class="blog_meta list">
      <li><a href="#"> {{ post.view_count }} Views<i class="lnr lnr-eye"></i></a></li>
      <li><a href="#"> {{ post.comments.count }} Comments<i class="lnr lnr-bubble"></i></a></li>
    </ul>

    <h2 class="article-title my-article-title">{{ object.title }}</h2>
    <p class="article-content my-article-content">{{ object.content }}</p>
  {% for comment in post.comments.all %}
    <p>{{ comment.user.username }}: {{ comment.text }}</p>
  {% endfor %}
  </div>
</article>

{% endblock content %}

